<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <div class="navbar" id="navbar">
        

        <button class="linkbtn" id="topbutt1" onclick="window.location.href='https://www.griffinsguardians.org';"><h2 id="linker1">Events</h2></button>
        <button class="linkbtn" id="topbutt2" onclick="window.location.href='https://www.griffinsguardians.org';"><h2 id="linker2">Our Impact</h2></button>
        <div class="logobckgrd" id="logobckgrd" onclick="window.location.href='https://www.griffinsguardians.org';">
            <div class="logo">
                
            </div>
        </div>
        <button class="linkbtn" id="topbutt3" onclick="window.location.href='https://www.griffinsguardians.org';"><h2 id="linker3">Stats</h2></button>
        <button class="linkbtn" id="topbutt4" onclick="window.location.href='https://www.griffinsguardians.org';"><h2 id="linker4">Contact</h2></button>

    </div>
</div>

